.page{
    max-width: 92.5rem;
    margin: 0 auto;
    padding: 0 1rem;
}
body{
    background-color:#F1F2F4;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4.25rem;
}
.head *{
    min-width: 0;
}
.head{
    background-color: white;
    height: 4.25rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
    gap:2rem;
    padding: 0 2rem;
}
.logo{
    margin-left: 1.75rem;
    margin-top: 0.75rem;
    flex-shrink: 0;
}
.search{
    background-color: #F0F5FF;
    flex: 1;
    max-width: 46.875rem;
    display: flex;
    gap: 0.625rem;
    height: 2.5rem;
    margin-top: 0.875rem;
    border-radius: 0.625rem;
}
.search input{
    border: none;
    background-color: #F0F5FF;
    flex: 1;
    width: 100%;
    font-size: 1.125rem;
    outline: none;
    border-radius: 5px4;
    font-size: 1.09375rem;
}
.search img,button{
    width: 2.5rem;
    height: 2.375rem;
    border: none;
    background-color: #F0F5FF;
    border-radius: 0.3125rem;
}
.right{
    flex-shrink: 0;
    display: flex;
    gap:1.5rem;
    align-items: center;
}

.login{
    display: flex;
    place-items:center;
    place-content:center;
    column-gap: 0.625rem;
    transition: background-color 0.3s ease forwards;
     margin-top: 0.875rem;
    margin-bottom: 0.875rem;
    width: 7.5rem;
    position: relative;
}
.login a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: flex;
    place-content: center;
    place-items: center;
    column-gap: 0.625rem;
    font-size: 1.09375rem;
}
.login .drop{
    width: 0.75rem;
    height: 2.75rem;
}
.login:hover{
    background-color: #2B55E5;
    border-radius: 0.625rem;
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
    width: 7.5rem;
    place-content: center;
    place-items: center;
}
.login:hover > a{
    color: white;
}
.login:hover .drop{
    filter: invert(1);
}
.login:hover .loginimg{
    filter: invert(1);
}
.login:hover .drop{
    animation: rotateOnce 0.4s ease forwards;
}
@keyframes rotateOnce {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
.cart{
    place-content: center;
}
.cart a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: flex;
    place-content: center;
    place-items: center;
    column-gap: 0.625rem;
    font-size: 1.09375rem;
}
.seller{
    place-content: center;
}
.seller a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: flex;
    place-content: center;
    place-items: center;
    column-gap: 0.625rem;
    font-size: 1.09375rem;
}
.dropdown{
    margin-right: 3.375rem;
    place-content: center;
    place-items: center;
    display: flex;
    width: 2.3125rem;
    border: 1px solid transparent;
    border-radius: 0.625rem;
    position: relative;
}
.menu{
    position: absolute;
    top: 100%;            
    left: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 10px;
    display: none;            
    z-index: 100;
    width: 17.1875rem;
    overflow: hidden;
}
.login:hover .menu {
    display: block;
}
.up a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
}
.up{
    font-size: 0.875rem;
    padding: 0.625rem 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    place-content: space-between;
    place-items: center;
}
.up span{
    font-size: 1.0625rem;
}
.up a{
    text-decoration: none;
    font-weight: bold;
    color: #2874F0;
}
.down{
    place-content: center;
    place-items: start;
}
.down a{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    width: 100%;
    gap: 0.625rem;
    place-content: start;
}
.down a:hover{
    background-color: #F0F0F0;
}
.dropdown:hover{
    border: 1px solid #ddd;
    border-radius: 0.625rem;
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
    width: 2.3125rem;
}
.dropmenu{
    position: absolute;
    top: 100%;            
    right: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 10px;
    display: none;            
    z-index: 100;
    width: 13.125rem;
    overflow: hidden;
}
.dropdown:hover .dropmenu{
    display: block;
}
.dropmenu a{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    width: 100%;
    gap: 0.625rem;
    place-content: start;
    align-items: center ;
    text-decoration: none;
    color: black;

}
.dropmenu a:hover{
    background-color: #F0F0F0;
}
.categories{
    background-color: white;
    margin: 0.5rem 0px;
    height: 7.8125rem;
    display: flex;
    justify-content: space-between;
    gap:2rem;
    align-items: center;
    text-align: center;
    padding: 0 6rem;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}
.categories::-webkit-scrollbar{
    display: none;
}
.categories img{
    width: 4.0625rem;
    height: 4.0625rem;
    overflow: hidden;
}
.categories a{
    text-decoration: none;
    flex:0 0 auto;
    color: black;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    place-items: center;
}
.categories span{
    margin-top: 0.625rem;
    text-align: center;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 7rem;
}
.banner{
    background: white;
    margin: 1.0625rem 0px;
    position: relative;
    height: 17rem;
    overflow: hidden;
    max-width: 100%;
}

.photobanner{
    display:flex;
    width:300%;        
    height:100%;
    animation: slide 9s linear infinite; 
}

.slides{
    width:100%;
    height:100%;
}

.slides img{
    width:100%;
    height:100%;
    object-fit:cover;
    max-height: 15.625rem;
}

@keyframes slide {
    0%, 30% {
        transform: translateX(0);        
    }
    35%, 65% {
        transform: translateX(-33.33%);   
    }
    70%, 100% {
        transform: translateX(-66.66%);  
    }
}
.dots{
    position:absolute;
    bottom:0.75rem;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap: 0.5rem;
    z-index: 5;
}

.dot{
    position:relative;
    height: 0.25rem; /* 4px */
    width: 0.625rem; /* 10px */              
    border-radius: 999px;
    background:lightgray; 
    overflow:hidden;
}

.dot::before{
    content: "";
    position: absolute;
    inset: 0;
    background: #2c2323;
    transform-origin: left;
    transform: scaleX(0);
}

.dot:nth-child(1){
    animation: dot1Wide 9s linear infinite;
}
@keyframes dot1Wide {
    0%, 30%   { width:30px; }
    33%, 100% { width:10px; }
}

.dot:nth-child(2){
    animation: dot2Wide 9s linear infinite;
}
@keyframes dot2Wide {
    0%, 33%   { width:10px; }
    36%, 65%  { width:30px; }
    68%, 100% { width:10px; }
}

.dot:nth-child(3){
    animation: dot3Wide 9s linear infinite;
}
@keyframes dot3Wide {
    0%, 68%   { width:10px; }
    71%, 100% { width:30px; }
}
.dot:nth-child(1)::before{
    animation: dot1Fill 9s linear infinite;
}

.dot:nth-child(2)::before{
    animation: dot2Fill 9s linear infinite;
}

.dot:nth-child(3)::before{
    animation: dot3Fill 9s linear infinite;
}

@keyframes dot1Fill {
    0%   { transform: scaleX(0); }
    20%  { transform: scaleX(1); }  
    30%  { transform: scaleX(1); } 
    33%  { transform: scaleX(0); }  
    100% { transform: scaleX(0); }
}

@keyframes dot2Fill {
    0%   { transform: scaleX(0); }
    33%  { transform: scaleX(0); }  
    50%  { transform: scaleX(1); } 
    65%  { transform: scaleX(1); }  
    68%  { transform: scaleX(0); } 
    100% { transform: scaleX(0); }
}

@keyframes dot3Fill {
    0%   { transform: scaleX(0); }
    68%  { transform: scaleX(0); } 
    85%  { transform: scaleX(1); } 
    100% { transform: scaleX(1); } 
}
.deals{
    background-color: white;
    margin: 0rem 1rem;
    margin-left: 0rem;
    width: 75.625rem;
    padding: 0.0625rem 1rem;
    height: 19.375rem;
}
h2{
    font-size: 1.375rem;
}
@media (max-width: 1244px){
    .deal .block:nth-child(n+5){
        display: none;
    }
}
@media (max-width: 856px){
    .deal .block:nth-child(n+3){
        display: none;
    }
}

.deal{
    display: flex;  
    overflow: hidden;
    place-content: space-between;
}
.block a{
    display: flex;
    flex-direction: column;
    column-gap: 2.1875rem; /* 35px */
    text-align: center;
    text-decoration: none;
    color: black;
    place-content: center;
    place-items: center;
    margin: 1.25rem 1.125rem;
}
.block span{
    margin-top: 0.3125rem; /* 5px */
    font-size: 1rem; /* 16px */
}
.bold{
    font-weight: bold;
    margin-top: 0.3125rem; /* 5px */
}
.block img{
    margin: 0.625rem 1rem;
    margin-bottom: 2.1875rem;
}
.block1{
    margin-top: 2.6875rem;
}

.block3{
    margin-top: 1.375rem; /* 22px */
}
.side img{
    height: 19.375rem; /* 310px */
    width: 13.75rem; /* 220px */
}

.del{
    display: flex;
    flex-wrap: nowrap;
}
.block img:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease;
}
.section{
    background-color: white;
    margin: 1rem 0rem; /* Changed to rem */
    display: flex;
    flex-wrap: nowrap;
    gap:1rem;
    overflow: hidden;
}
.section a{
    flex:1;
}
.section img{
    width: 100%;
    height: auto;
     /* Changed to rem */
    margin: 0.0625rem 0.3125rem; /* Changed to rem */
    display: block;
    object-fit: cover;
    border-radius: 2px;
    column-gap: 0.625rem; /* Changed to rem */
}
.sec{
    background-color: white;
    margin: 0.5rem 0rem; /* Changed to rem */
    margin-top: 0rem; /* Changed to rem */
    padding: 0.625rem 1rem; /* Changed to rem */
    display: flex;
    flex-direction: column;
    display: inline-block;
    width: 28.125rem; /* 450px */
}
.sec1{
    margin-right: 0.3125rem; /* 5px */
}
.sec2{
    margin: auto 0.3125rem; /* 5px */
}
.sec3{
    margin: auto 0.3125rem; /* 5px */
}
.secup, .secdown{
    display: flex;
}
.secup a , .secdown a{
    display: grid;
    width: 14.375rem; /* 230px */
    text-decoration: none;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 0.1875rem; /* 3px */
    margin: 0.3125rem; /* 5px */
    justify-items: start;
    text-align: left;
    padding: 1.25rem 0.3125rem; /* 20px 5px */
}
.secup img, .secdown img{
    justify-self: center;
    border-radius: 0.1875rem; /* 3px */
    margin-bottom: 1rem; /* 16px */
    margin-left: 0.625rem; /* 10px */
    margin-right: 0.625rem; /* 10px */
    width: 11.25rem; /* 180px */
    height: 11.875rem; /* 190px */
}
.green{
    color: green;
    font-weight: bold;
    margin-top: 0.3125rem; /* 5px */
}
.secup span, .secdown span{
    font-size: 1rem; /* 16px */
    margin-left: 0.3125rem; /* 5px */
}
.secup img:hover{
    transform:scale(1.03);
    transition: transform 0.1s ease;
}
.secdown img:hover{
    transform:scale(1.03);
    transition: transform 0.1s ease;
}
.box{
    background-color: white;
    margin: 0.5rem 0rem;
    padding: 0.625rem 1rem;
    padding-bottom: 1.25rem;
}
.boxs{
    display: flex;
    place-content: space-between;
    place-items: center;
}
.boxes a{
    padding: 0rem 1.25rem; /* 20px */
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    width: 8.75rem; /* 140px */
    text-align: center;
}
.boxes img{
    margin-bottom: 1rem; /* 16px */
    height: 8.125rem; /* 130px */
}

.deal{
    flex-wrap: wrap;
}
.boxes img:hover{
    transform: scale(1.04);
    transition: transform 0.1s ease;
}
.box{
    flex-wrap: wrap;
}
.boxs{
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
}
.boxes{
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 13.75rem; /* 220px */
}
.boxs::-webkit-scrollbar{
    display: none;
  }
.boxes7{
    width: 0px;
}
.foot{
    padding: 5rem 0.9375rem; /* 80px to rem */
    color: grey;
}
.foot h3{
    color: grey;
    font-size: 1.125rem; /* 18px to rem */
}
.bottom span{
    font-size: 0.9375rem; /* 15px to rem */
}
.bottom a{
    text-decoration: none;
    color: grey;
    font-size: 0.8125rem; /* 13px to rem */
}
.bottom{
    margin-top: 0.9375rem; /* 15px to rem */
}

.foot2{
    padding: 0px 0.9375rem; /* 15px to rem */
}
.foot2 h2{
    font-size: 1rem; /* 16px to rem */
}
.foot2 span{
    font-size: 0.875rem; /* 14px to rem */
    line-height: 1.25rem; /* 20px to rem */
}
footer{
    background-color: #212121;
    color: white;
    text-align: center;
    margin-top: 1.875rem; /* 30px to rem */
    font-size: 0.875rem; /* 14px to rem */
}

.fooot{
    display: flex;
    gap: 2.5rem; /* 40px */
    justify-content: space-evenly;
    padding: 1.875rem 4.0625rem; /* 30px 65px */
}
.square a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8125rem; /* 13px */
    display: block;
    margin: 0.25rem 0px; /* 4px */
    text-align: left;
}
.square p{
    color: #878787;
    text-align: left;
}
.square5{
    display:flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.8125rem; /* 13px */
    border-left: 1px solid #555;
    padding-left: 1.5rem; /* 24px to rem */
}
.square5 span{
    margin: 0.125rem 0; /* 2px to rem */
}
.social{
    display: flex;
    gap: 0.625rem; /* 10px to rem */
    justify-content: left;
    align-items: center;
}
.square6{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.8125rem; /* 13px to rem */
}
.square6 span{
    margin: 0.125rem 0; /* 2px to rem */
}
.same{
    display: flex;
    gap: 0.3125rem;
}
.same a{
    margin-top: 0;
    color: #2468F0;
    font-weight: lighter;
}
.last{
    border-top: 1px solid #555;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-around;  
}
.last a{
    text-decoration: none;
    color: white;
    font-size: 0.6875rem;
}
.last img{
    margin-right: 0.5rem;
}
body::-webkit-scrollbar{
    display: none;
}
html{
    scrollbar-width: none;
}
body{
    -ms-overflow-style: none;
}
